.row {
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.row + .row {
  margin-top: 1.2em;
}

.row__cell {
}

.row__cell-third {
  flex: 0 0 calc((100% / 3) - var(--gap));
}

.row__cell--half {
  flex: 0 0 calc(50% - var(--gap));
}

.row__cell--fill {
  flex: 1;
}
