.hot-tours {
  margin-bottom: 4em;
}

.hot-tours__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.hot-tours__heading {
  margin-bottom: 2em;
}

.hot-tour {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  flex-basis: calc(100% / 3 - 10px);
  display: flex;
  flex-direction: column;
  border-radius: var(--brd-large);
  overflow: hidden;
  background-color: #fefefe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.01);
}

.hot-tour:hover {
  transform: scale(1.05);
  box-shadow: var(--uni-shadow);
}

.hot-tour__description {
  padding: 1em;
  display: grid;
  grid-template-areas:
    "title price"
    "days days"
    "from from";
  gap: 0.5em;
  justify-content: space-between;
}

.hot-tour__image {
  max-width: 100%;
  height: 360px;
  object-fit: cover;
}

.hot-tour__title {
  grid-area: title;
  font-family: var(--ffp);
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 0.5em;
}

.hot-tour__text {
  font-family: var(--ffs);
  font-size: 1em;
}

.hot-tour__price {
  grid-area: price;
  font-family: var(--ffp);
  font-weight: bold;
  font-size: 1.2em;
}

.hot-tour__price::after {
  content: " ₽";
}

.hot-tour__from {
  grid-area: from;
}
