.header {
  width: 100%;
  position: fixed;
  height: 56px;
  flex-shrink: 0;
  border: 1px solid var(--clr-gray-100);
  background-color: #fefefe;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
